/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */ 

/* END OF MEYER RESET */

body {
  text-align: center;
}

.joke-item {
  list-style-type: none;
  text-align: center;
  /* border: 0px 5px 10px grey; */
  width: 300px;
  height: 350px;
  box-shadow: 0 6px 15px 6px rgb(211, 211, 211);
  margin-bottom: 40px;
  justify-content: center;
  /* padding-left: 500px; */
}

.punchline {
  list-style-type: none;
  text-align: center;
  /* border: 0px 5px 10px grey; */
  width: 300px;
  height: 350px;
  box-shadow: 0 6px 15px 6px rgb(211, 211, 211);
  margin-bottom: 40px;
  justify-content: center;
  /* padding-left: 500px; */
}

.title {
  width: 100%;
  height: 300px;
  background-image: url("https://images.unsplash.com/photo-1524117074681-31bd4de22ad3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80");
  /* background: url("/laugh-banner.jpg"); */
  display: flexbox;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}

ul {
  text-align: center;
  justify-content: center;
  padding-left: 550px;
}

li {
  text-align: center;
}

p {
  padding: 80px 20px;
}
